@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/bpicons/bpicons.eot');
	src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../fonts/bpicons/bpicons.woff') format('woff'), url('../fonts/bpicons/bpicons.ttf') format('truetype'), url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
}
/* Resets */

#preloader {
  background : #fff;
  bottom     : 0;
  left       : 0;
  position   : fixed;
  right      : 0;
  top        : 0;
  z-index    : 9999;
}

#status,
.status-img {
  height              : 100%;
  width               : 100%;
  left                : 0;
  position            : absolute;
  top                 : 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}


/* Main styles */

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	margin: 0;
	color: #cecece;
	/* sex tape */
	background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* text-align: center; /*centering*/
}

a {
	text-decoration: none;
	color: #5c5edc;
	outline: none;
}

a:hover {
	color: #fff;
}


/* Blueprint header */

.bp-header {
	padding: 6em 10vw 2em;
}

.bp-header__title {
	position: relative; /*blend only works when this does*/
	font-size: 4.9em;
	font-weight: 550;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	/* color: #b59165; */
	/* color: #bd9666; */ /*this one*/
	color: #c4c4c4; /* c4 c4 c4, lol I like that */
/*
	___________________    . , ; .
(___________________|~~~~~X.;' .
										 ' `" ' `
*/
	/* color: #b59874; */
	mix-blend-mode: difference;
	z-index: 1;
	/* font-family: 'Montserrat' !important ; */
	font-family: 'Italiana' !important ;
	 /* transition-delay: 1s; */
	transition-duration: 1.5s;
	transition-timing-function: ease-out;
}
.bp-header__title:hover {
	/* color: #bd9666; */
	color: #476780;
}
.first, .second {
	animation: showup 1s;
	animation-delay: .5s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-duration: 1s;
}
.menu-button {
	animation: ham 1s;
	animation-delay: 2s;
	/* animation-timing-function: ease-in; */
	animation-fill-mode: forwards;
	opacity: 0;
	animation-duration: .5s;
}
.on-start, .home-logo {
	animation: home-load 1s;
	opacity: 0;
	animation-fill-mode: forwards;
}
.desc {
	animation: coffee 1s;
	width: 0;
	opacity: 0;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-delay: 2s;
	animation-duration: .7s;
}
.side--text {
	animation: side-text 1s;
	animation-delay: 2s;
	/* animation-timing-function: ease-in; */
	animation-fill-mode: forwards;
	opacity: 0;
	animation-duration: .5s;
	/* animation: rotate 1s; */
}
.home-img {
	animation: pic 1s;
	opacity: 0;
	/* animation-timing-function: ease-in; */
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
	/* animation-duration: .5s; */
}
@keyframes pic {
	0%{
		transform: translateY(-50px);
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes coffee {
	0%{}
	10% {
		opacity: 0;
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}
@keyframes home-load {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes showup {
    0% {
			opacity: 0;
			transform: translateY(100px);
		}
		35% {
			opacity: 0;
		}
    100% {
			opacity:1;
			transform: translateY(0px);
		}
}
@keyframes ham {
    0% {
			opacity:0;
			transform: translateX(-100px);
		}
    100% {
			opacity:1;
			transform: translateX(0px);
		}
}
@keyframes side-text {
    0% {
			opacity:0;
			/* letter-spacing: 0em; */
			right: -200px;
		}
    100% {
			opacity:1;
			/* letter-spacing: 0.07em; */
			/* right: -110px; */
		}
}



.bp-header__desc {
	font-size: 0.95em;
	margin: 0.5em 0 1em;
	padding: 5px;
	border-radius: 2px;
	/* color: #2f4353; */
	/* background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%); */
	color: #8f7554;
	background-image: linear-gradient(315deg, #a38560 0%, #e0d4ae 74%);
	font-weight: 500;
}

.bp-header__present {
	font-size: 0.95em;
	font-weight: 500;
	position: relative;
	z-index: 100;
	display: block;
	padding: 0 0 0.6em 0.1em;
	/* letter-spacing: 0.5em; */
	/* text-transform: uppercase; */
	/* color: #8f7554; /*dark*/
	/* color: #ad8e66; /* light */
	background: -webkit-linear-gradient(55deg, #ad8e66, #8f7554);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	/* color: #3C6292; */
}

.bp-nav {
	margin: 0 0 0 -0.75em;
}

.bp-nav__item {
	position: relative;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: 0 0.1em;
	text-align: left;
	border-radius: 50%;
}

.bp-nav__item > span {
	display: none;
}

.bp-nav__item:hover:before {
	content: attr(data-info);
	font-size: 0.85em;
	font-weight: bold;
	position: absolute;
	top: 120%;
	left: 0;
	width: 600%;
	text-align: left;
	pointer-events: none;
	color: #595a5f;
}

.bp-nav__item:hover {
	background: #5c5edc;
}

.bp-icon:after {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: #5c5edc;
	-webkit-font-smoothing: antialiased;

	speak: none;
}

.bp-nav .bp-icon:after {
	line-height: 2.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: 0;
}

.bp-nav a:hover:after {
	color: #fff;
}

.bp-icon--next:after {
	content: '\e000';
}

.bp-icon--drop:after {
	content: '\e001';
}

.bp-icon--archive:after {
	content: '\e002';
}

.bp-icon--about:after {
	content: '\e003';
}

.bp-icon--prev:after {
	content: '\e004';
}

@media screen and (max-width: 40em) {
	.bp-header {
		padding: 120px 20px 1em;
	}
	.bp-header__title {
		font-size: 2.2em;
	}
	.home-img {
		animation-timing-function: cubic-bezier(0.42,0,0.58,1);
	}
	@keyframes pic {
		0% {
			transform: translateX(-10px);
		}
		85% {
			opacity: 0;
		}
		100% {
			transform: translateX(0px);
			opacity: 1;
		}
	}
	@keyframes coffee {
		0%{}
		35% {
			opacity: 0;
		}
		100% {
			width: 100%;
			opacity: 1;
		}
	}
	@keyframes home-load {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes showup {
	    0% {
				opacity: 0;
				transform: translateY(100px);
			}
			35% {
				opacity: 0;
			}
	    100% {
				opacity:1;
				transform: translateY(0px);
			}
	}
	@keyframes ham {
	    0% {
				opacity:0;
				transform: translateX(100px);
			}
	    100% {
				opacity:1;
				transform: translateX(0px);
			}
	}
	@keyframes side-text {
	    0% {
				opacity:0;
				/* letter-spacing: 0em; */
				right: -200px;
			}
	    100% {
				opacity:1;
				/* letter-spacing: 0.07em; */
				/* right: -110px; */
			}
	}
}

html.js,
.js body {
	overflow: hidden;
	height: 100vh;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

::selection {
  color: none;
  background: none;
}

/* Pages nav */

.pages-nav {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 20px;
	text-align: center;
	background: #0e0f0f;
}

.js .pages-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	padding: 30px;
	pointer-events: none;
	opacity: 0;
	background: transparent;
	-webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
	transition: transform 1.2s, opacity 1.2s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 150px, 0);
	transform: translate3d(0, 150px, 0);
}

.js .pages-nav--open {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.pages-nav__item {
	width: 33%;
	padding: 1em;
}

.js .pages-nav__item {
	padding: 0 10%;
}

.pages-nav .pages-nav__item--social {
	width: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
	transition: transform 1.2s, opacity 1.2s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

.pages-nav--open .pages-nav__item--social {
	opacity: 1;
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.link {
	font-size: 0.9em;
	font-weight: bold;
	position: relative;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.link:hover,
.link:focus {
	color: #fff;
	/* color: #dbad74; */
}

.link--page {
	display: block;
	color: #4f4f64;
	/* mix-blend-mode: difference; */
}

.link--page:not(.link--faded)::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 30px;
	height: 2px;
	margin: 5px 0 0 -15px;
	background: #fff;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}
.link--page-pdf:not(.link--faded)::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 30px;
	height: 2px;
	margin: 5px 0 0 -15px;
	background: #fff;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}

.link--page:hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.link--faded {
	color: #4f4f64;
}

.youtube--faded {
	color: #4f4f64;
}

.link--faded:hover,
.link--faded:focus {
	/* color:  #dbad74; */
	color: #fff;
}

.link--page.link--faded {
	font-size: 0.65em;
	/* margin-top: 10px; */
}

.link--page-pdf {
	font-size: 0.65em;
	/* margin-top: 10px; */
}

.link--social {
	font-size: 1.5em;
	margin: 0 0.75em;
}

.text-hidden {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
}

/* Pages stack */

.js .pages-stack {
	z-index: 100;
	pointer-events: none;
	-webkit-perspective: 1200px;
	perspective: 1200px;
	-webkit-perspective-origin: 50% -50%;
	perspective-origin: 50% -50%;
}

.js .page {
	position: relative;
	z-index: 5;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	pointer-events: auto;
	/* background-color: #d9d9d9;
	background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%); */
	/*Zuckerberg's Backache */


/* background-color: #a38560;
background-image: linear-gradient(315deg, #a38560 0%, #e0d4ae 74%); */
/* Milk Cake */


background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); /*Cloudy Knoxville - I like this but I like the other one more

/*dark*/

/* background-color: #2d3436;
background-image: linear-gradient(135deg, #2d3436 0%, #000000 74%); */


	box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

#page-cooking {
	background-color: #2d3436;
	background-image: linear-gradient(135deg, #2d3436 0%, #000000 74%);  /*night club*/
}

#page-contact {
  /* background-color: #ffffff;
  background-image: linear-gradient(145deg, #ffffff 0%, #d7e1ec 74%); /*sweet Airan */
	background-color: #fffffc;
  background-image: linear-gradient(145deg, #fffffc 0%, #beb7a4 74%); /* Old Grey */
}

#page-about {
	background-color: #e2c9be;
  background-image: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%); /* Memories of Lincoln */
}

#page-portfolio {
	background-color: #ffa69e;
  background-image: linear-gradient(147deg, #ffa69e 0%, #5d4954 74%); /*Mona Lisa's laugh */
}

#page-interests {
	/* background-color: #a38560;
	background-image: linear-gradient(315deg, #a38560 0%, #e0d4ae 74%); */
	/* background-color: #c3cbdc;
	background-image: linear-gradient(315deg, #c3cbdc 0%, #edf1f4 74%); /* no result */
	background-image: url('../images/eye.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* animation: slide 10s infinite; */
	/* animation-delay: 5s; */
	/* animation-timing-function: linear; */
}
#page-interests::after {
	content: "";
	background: black;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.5;
	z-index: -11;
}

@keyframes slide {
	0%{
		background-image: url('../images/eye.jpg');
	}
	30%{
		background-image: url('../images/football.jpg');
	}
	60%{
		background-image: url('../images/camden.jpg');
	}
	85%{
		background-image: url('../images/sikkim.jpg');
	}
}

.contact-quote {
	color: #919191;
}
.title-cooking{
	color: #fff;
}
.title-cooking:hover{
	color: #b59874;
}

.js .pages-stack--open .page {
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.45s, opacity 0.45s;
	transition: transform 0.45s, opacity 0.45s;
	-webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
	transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

.js .page--inactive {
	position: absolute;
	z-index: 0;
	top: 0;
	opacity: 0;
}

/* page content */

.recipe {
	font-family: 'Satisfy', cursive;
	font-size: 2em;
}
.recipe-a {
	 color: #cecece;
}
.recipe-a:hover {
	 color: #fff;
}

.info {
	font-size: 1.25em;
	max-width: 50%;
	margin-top: 1.5em;
}

.info-about {
	color: #474747;
	letter-spacing: 0.03em;
	font-size: 1em;
}
.info-port {
	/* color: #474747; */
	color: #eee;
	letter-spacing: 0.03em;
	font-size: 1em;
}

.info-git {
	color: #ff657b;
}

.info-interests {
	color: black;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 14rem;
  height: auto;
	margin: 10px;
}
button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
	/* color: #8f7554; */
	/* background-image: linear-gradient(147deg, #a38560 0%, #e0d4ae 74%); */
  border-radius: 1.625rem;
}
button.learn-more-football .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  /* background: #282936; */
	background-image: url('../images/football.jpg');
	background-size: cover;
	/* color: #8f7554; */
	/* background-image: linear-gradient(147deg, #a38560 0%, #e0d4ae 74%); */
  border-radius: 1.625rem;
}
button.learn-more-tp .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  /* background: #282936; */
	background-image: url('../images/interests.jpg');
	background-size: cover;
	background-position: center;
	/* color: #8f7554; */
	/* background-image: linear-gradient(147deg, #a38560 0%, #e0d4ae 74%); */
  border-radius: 1.625rem;
}
button.learn-more-painting .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  /* background: #282936; */
	background-image: url('../images/painting.jpg');
	background-size: cover;
	background-position: center;
	/* color: #8f7554; */
	/* background-image: linear-gradient(147deg, #a38560 0%, #e0d4ae 74%); */
  border-radius: 1.625rem;
}
button.learn-more-music .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  /* background: #282936; */
	background-image: url('../images/spotify.png');
	background-size: cover;
	background-position: center;
	/* color: #8f7554; */
	/* background-image: linear-gradient(147deg, #a38560 0%, #e0d4ae 74%); */
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
button.learn-more .button-text, .button-text-p, .button-text-m, .button-text-pa,.button-text-f {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  /* right: 0; */
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 4rem;
  /* color: #282936; */
	color: #eee;
	font-size: 0.9em;
  font-weight: 450;
  line-height: 1.6;
  text-align: center;
	letter-spacing: 0.1em;
  /* text-transform: uppercase; */
	/* mix-blend-mode: difference; */
}
button.learn-more .button-text-recipe {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 2rem;
  /* color: #282936; */
	color: #cecece;
	font-size: 0.9em;
  /* font-weight: 700; */
  line-height: 1.6;
  text-align: center;
	letter-spacing: 0.1em;
  /* text-transform: uppercase; */
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  /* background: #fff; */
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

button:hover .button-text-recipe {
  color: #fff;
}

.sign-logo {
	position: absolute;
	top: 0px;
	right: 0px;
	/* width: 100%; */
	/* height: 50vh; */
	padding: 20px;
	width: 160px;
	/* max-height: auto; */
	z-index: 10;
}

.switch {
  /* position: fixed; */
	margin: 10px;
	position: fixed;
	top: 100%;
	left: 47.9%;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.side--text {
  /* position: absolute; */
  /* background: rgba(0,0,0,0.75); */
  /* color: #4a7cba; */
	background: -webkit-linear-gradient(100deg, #ad8e66, #8f7554);
	-webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	/* font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif; */
	letter-spacing: 0.07em;
	right: -110px;
	bottom: 45vh;
  padding: 10px;
	z-index: 12;
	transform: rotate(90deg) !important;
	/* justify-content: center; */
	/* align-items: center; */
	position: fixed;
	/* mix-blend-mode: difference; */
	font-size: 0.85em;
}

.side--text:hover {
	background: #c4c4c4;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	mix-blend-mode: difference;
}

.poster {
	position: absolute;
	/* top: 10vh; */
	bottom: 5vh;
	left: 55%;
	max-width: 100%;
	max-height: 80%;
	z-index: 10;
	border-radius: 1.5%;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.1);
	transition: all .3s ease;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.poster:hover {
	box-shadow: 1px 1px 17px 1px rgba(138, 109, 73,.2);
}

.poster-cooking {
	position: absolute;
	/* top: 10vh; */
	bottom: 5vh;
	left: 55%;
	max-width: 100%;
	max-height: 80%;
	z-index: 10;
	border-radius: 1.5%;
	/* box-shadow: 1px 1px 2px 1px rgba(0,0,0,.1); */
	transition: all .3s ease;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.poster-cooking:hover {
	transform: scale(1.01);
}
.poster-contact, .poster-about, .poster-portfolio {
	position: absolute;
	/* top: 10vh; */
	bottom: 5vh;
	left: 55%;
	max-width: 100%;
	max-height: 80%;
	z-index: 10;
	border-radius: 1.5%;
	/* box-shadow: 1px 1px 2px 1px rgba(0,0,0,.1); */
	transition: all .3s ease;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.p3 {
	visibility: hidden;
}
.poster-contact:hover {
	transform: scale(1.01);
}
.p2:hover {
	transform: scale(1.15);
}

/* Menu button */

.menu-button {
	position: absolute;
	z-index: 1000;
	top: 30px;
	left: 30px;
	width: 30px;
	height: 24px;
	padding: 0;
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
}

.no-js .menu-button {
	display: none;
}

.menu-button::before,
.menu-button::after,
.menu-button span {
	background: #5f656f;
}

.menu-button::before,
.menu-button::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.menu-button span {
	position: absolute;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 2px;
	text-indent: 200%;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.menu-button::before {
	-webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
	transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
}

.menu-button::after {
	-webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
	transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
}

.menu-button--open span {
	opacity: 0;
}

.menu-button--open::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button--open::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}

@media screen and (max-width: 60em) {
	.info {
		max-width: 100%;
	}
	.poster {
		position: relative;
		top: auto;
		left: auto;
		display: block;
		max-width: 100%;
		max-height: 55vh;
		margin: 0 0 0 50%;
		bottom: 5vh;
	}
	.poster-contact, .poster-about, .p3 {
		position: relative;
		top: auto;
		/* left: -230px; */
		left: auto;
		display: block;
		max-width: 100%;
		max-height: 55vh;
		margin: 0 0 0 0;
		bottom: 5.8vh;
	}
	.poster-cooking {
		position: relative;
		top: auto;
		/* left: -230px; */
		left: auto;
		display: block;
		max-width: 95%;
		max-height: 55vh;
		margin: 0 0 0 0;
		bottom: 5.8vh;
	}
	.p2, .p1{
		display: none;
	}
	.p3 {
		visibility: visible;
	}
	.pages-nav__item {
		width: 50%;
		min-height: 20px;
	}
	.link--page {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.link--page-pdf {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 0.65em !important;
	}
	.link--social {
		margin: 0 0.1em;
	}
	.link {
		font-size: 1.4em;
	}
	.recipe {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 40em) {
	.js .pages-nav {
		display: block;
		padding: 30px 10px 0 35px;
		text-align: left;
	}
	.js .pages-nav__item {
		width: 100%;
		padding: 4px 0;
	}
	.js .pages-nav__item--small {
		display: inline-block;
		width: auto;
		margin-right: 5px;
	}
	.switch {
	  /* position: fixed; */
		margin-left: 0px !important;
		text-align: left;
	  display: inline-block;
		left: 0%;
	  width: 40px;
	  height: 20px;
	}
	.pages-nav__item--social {
		font-size: 2em;
	}
	.menu-button {
		top: 30px;
		right: 30px;
		left: auto;
	}
	.info {
		font-size: 0.85em;
	}
	.poster {
		margin: 1em;
		bottom: 1.5vh;
	}
	.poster-contact, .poster-about, .p3 {
		margin: 1em;
		bottom: 1.5vh;
	}
	.poster-about{
		max-width: 60%;
	}
	.sign-logo {
		position: absolute;

		top: 0;
		left: 0;
		/* transform: translateY(50%); */
		/* min-width:  */
		/* height: 50vh; */
		padding: 20px;
		z-index: 10;
		width: 135px;
	}
	.link--page.link--faded {
		margin-top: 10px;
	}
	.link--page-pdf {
		top: -3px;
	}
	.side--text {
		right: -120px;
		bottom: 27vh;
	}
}
